#participantes {
    width: 100%;
    height: 120vh;
    background-image: url(../../img/section-participantes/participantes.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#participantes>h2 {
    text-align: center;
    font-size: 5rem;
    color: #e7e7e7;
    font-weight: bold;
}

#boxChaveamento {
    position: relative;
    width: 70%;
    height: 55%;
    background-color: #363A46;
    box-shadow: 0px 48px 13px 0px rgba(0, 0, 0, 0.00) inset, 0px 31px 12px 0px rgba(0, 0, 0, 0.04) inset, 0px 17px 10px 0px rgba(0, 0, 0, 0.13) inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.21) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoChaveamento {
    width: 60%;
    height: 80%;
}

#textoChaveamento h2 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Neue Plak Extended Bold';
}

#textoChaveamento p, #incricoesChaveamento {
    font-size: 1.5rem;
    color: #616264;
    font-family: 'Neue Plak Extended SemiBold';
    margin-top: 2%;
}

#boxBotoesChaveamento {
    display: grid;
    grid-template-columns: 200px 200px;
    margin-top: 5%;
    gap: 1rem;
    margin-bottom: 5%;
}

#incricoesChaveamento {
    color: #C20717;
    text-decoration: none;
    font-size: 1rem;
    transition: .5s;
}

#incricoesChaveamento:hover {
    color: #ff0a1e;
    text-decoration: underline;
}

.botoesChaveamento {
    display: block;
    width: 200px;
    height: 75px;
    background-color: #0a48c5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.botoesChaveamento:hover {
    background-color: #8f47e7;
}

#cardChaveamento {
    width: 28%;
    height: 80%;
    background-image: url(assets/img/header/card/eafc24-card.avif);
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25), 199px 279px 96px 0px rgba(0, 0, 0, 0.01), 127px 179px 88px 0px rgba(0, 0, 0, 0.07), 72px 100px 74px 0px rgba(0, 0, 0, 0.25), 32px 45px 55px 0px rgba(0, 0, 0, 0.43), 0px 0px 100px 10px #000 inset;
    transform: translateY(20%) rotate(-2deg);
    transition: background-image 0.5s ease-in-out;
}
