@media (max-width: 500px) {
    body {
        background-color: #000;
    }

    /* HEADER */

    header {
        background-position: center;
    }

    #titulo {
        margin-top: 20%;
        width: 350px;
        height: auto;
    }

    #titulo h1:nth-child(1) {
        font-size: 3rem;
        line-height: 3rem;
    }

    #titulo h1:nth-child(2) {
        font-size: 3rem;
        line-height: 3rem;
    }

    #boxContainer {
        width: 300px;
        height: auto;
        border-radius: 2rem;
        flex-direction: column;
    }

    #boxContainer>div:nth-child(1) {
        width: 250px;
        height: 17rem;
        justify-content: center;
        gap: 1.5rem;
    }

    #tituloBox {
        width: 250px;
        height: auto;
    }

    #tituloBox h2 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5rem;
        height: auto;
    }
    #linksTopo{
        text-align: center;
    }

    #gifContainer {
        width: 16rem;
        height: 10% !important;
        border-radius: 0.9375rem;
        background: url(../../img/header/video-interclasse-low-quality.gif) cover no-repeat;
        background-size: 100%;
    }

    #logosContainer {
        width: 300px;
    }

    #logosContainer img {
        width: 65px;
    }

    #card {
        margin-top: -25%;
        width: 250px;
        height: 350px;
    }

    #tituloCard {
        font-size: 1rem;
    }

    #descricaoCard {
        font-size: 0.7rem;
        width: 200px;
    }

    /* INTRODUÇÃO */

    #introducao {
        height: 80vh;
        background-position: 70%;
    }

    #textosIntroducao {
        gap: 1rem;
    }

    #textosIntroducao h2 {
        width: 250px;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    #textosIntroducao hr {
        width: 250px;
    }

    #textosIntroducao p {
        width: 300px;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .JogosContainer {
        gap: 1.5rem;
    }

    .JogosTitulo h2 {
        font-size: 2rem;
    }
    
    .JogosContainer p {
        width: max-content;
        font-size: 0.7rem;
    }

    .trailer {
        width: 150px;
    }

    #participar h2 {
        font-size: 2rem;
    }

    .container {
        width: 300px;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .card {
        width: 150px;
        height: 80px;
        border-radius: 10px;
    }

    .card>.row>.icon {
        width: 20px;
        height: 20px;
    }

    .card>.row>.description {
        width: 200px;
    }

    input:checked+label {
        width: 250px;
    }

    #boxParticipar {
        width: 70%;
        height: 160px;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    #boxParticipar>div h3:nth-child(1), #boxParticipar>div h3:nth-child(2) {
        font-size: 1.3rem;
    }

    .btn--action {
        width: 80%;
        font-size: 0.8rem;
    }

    footer {
        height: 200vh;
        justify-content: center;
        align-items: center;
    }

    #contato {
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    .transicao {
        width: 95%;
    }

    #botaoRetornar {
        left: 80%;
    }

    /* CHAVEAMENTO */

    #participantes>h2 {
        font-size: 2rem;
    }

    #boxChaveamento {
        width: 90%;
        height: 60%;
        border-radius: 2.5rem;
        flex-direction: column;
    }

    #textoChaveamento {
        margin-top: 10%;
        width: 100%;
        height: 80%;
    }

    #textoChaveamento h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    #textoChaveamento p, #incricoesChaveamento {
        font-size: 0.8rem;
        text-align: center;
        display: block;
    }

    #boxBotoesChaveamento {
        grid-template-columns: 120px 120px;
        margin-top: 5%;
        gap: 0.5rem;
        margin-bottom: 5%;
        justify-content: center;
        font-size: 0.8rem;
    }

    .botoesChaveamento {
        width: 120px;
        height: 50px;
    }

    #cardChaveamento {
        width: 80%;
    }
}
